.contenedor_botones-inicio{

    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: 10rem;
    width: 100%;
}

.boton-iniciar{

    background: #0A3871;
    border: none;
    border-radius: 24px;
    color: #ffffff;
    font-size: 18px;
    height: 114px;
    margin: 38px;
    text-align: center;
    width: 317px;
}

.boton-agregar{

    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    font-size: 16px;
    height: 67px;
    padding: 24px;
    text-align: center;
    width: 280px;
}